QWidget {
  font-family: url(:/font/Resource/fonts/MiSans-Regular.ttf), Sans-serif;
}

QPushButton {
  font-family: url(:/font/Resource/fonts/HYWeiHei.ttf), Sans-serif;
}

QLineEdit {
  font-family: Sans-serif;
}